#shut-cuts {
  width: 1108px;
  height: 260px;
}
.pie {
  width: 230px;
  height: 190px;
  float: right;
}
.panel-head {
  margin-bottom: 15px;
}
.panel-content .panel-year {
  margin-bottom: 15px;
  line-height: 190px;
}
.panel-content a {
  font-size: 36px;
  font-weight: bold;
  margin-left: 15px;
}
