<%- include("./common/header.ejs") %>

<link rel="stylesheet" href="/css/index/base.css">
<link rel="stylesheet" href="/css/about.css">

<header class="main-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>「Stay Hungry, Stay Foolish.」</h1>
                <h2>饥渴求知，虚怀若愚</h2>
            </div>
        </div>
    </div>
</header>
<nav class="main-navigation">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="main-menu">
                    <ul class="menu">
                        <li role="presentation"><a href="/" target="_self">首页</a></li>
                        <li role="presentation"><a href="/statis" target="_self">数据统计</a></li>
                        <li class="nav-current" role="presentation"><a href="/about" target="_self">关于</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-body panel-head">
                    <div class="widget">
                        <h4 class="title">技术栈</h4>
                        <p>项目所用技术栈标签云</p>
                        <div class="tag-cloud">
                            <a href="http://es6.ruanyifeng.com/">ECMAScript 6</a>
                            <a href="http://lesscss.cn/">Less</a>
                            <a href="https://webpack.js.org/">Webpack</a>
                            <a href="http://echarts.baidu.com/">Echarts</a>
                            <a href="https://cn.vuejs.org/">Vue</a>
                            <a href="http://nodejs.cn/">Node</a>
                            <a href="http://www.expressjs.com.cn/">Express</a>
                            <a href="https://www.mongodb.com/">MongoDB</a>
                            <a href="http://mongoosejs.com/">Mongoose</a>
                        </div>
                        <img src="/image/technologyStack.png" alt="项目所用技术栈">
                    </div>
                </div>
            </div>
            <div class="col-md-4 sidebar">
                <div class="widget">
                    <h4 class="title">错误列表</h4>
                    <div class="content community">
                        <p>数据存储错误列表</p>
                        <a href="/spider-error" class="btn btn-default btn-block">Error Hanldling</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<a href="#" id="back-to-top" onclick="backToTop();"><i class="fa">↑</i></a>

<script src="/jquery/jquery-1.8.3.min.js"></script>
<script>
    const backToTop = function() {
        $(window).scroll(function(){
            if ($(this).scrollTop() > 100) {
                $('#back-to-top').fadeIn();
            } else {
                $('#back-to-top').fadeOut();
            }
        });
    }
    $('#back-to-top').click(function(e){
        e.preventDefault();
        $('html, body').animate({scrollTop : 0},1000);
        return false;
    });
    $(document).ready(backToTop());
</script>
<%- include("./common/footer.ejs") %>