<%- include("./common/header.ejs") %>
<link rel="stylesheet" href="/css/index/base.css">
<link rel="stylesheet" href="/css/statis.css">
<link rel="stylesheet" href="/statis/yearAll.css">

<header class="main-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>ECharts 3</h1>
                <h2>Above all else show the data.</h2>
            </div>
        </div>
    </div>
</header>
<nav class="main-navigation">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="main-menu">
                    <ul class="menu">
                        <li role="presentation"><a href="/" target="_self">首页</a></li>
                        <li class="nav-current" role="presentation"><a href="/statis" target="_self">数据统计</a></li>
                        <li role="presentation"><a href="/about" target="_self">关于</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-body panel-head">
                    <div class="widget">
                        <h4 class="title">年数据统计</h4>
                        <div class="content community">
                            <div id="shut-cuts"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="panel-content">
                <div class="col-md-4">
                    <div class="panel panel-body panel-year">
                        <a href="#">2013</a>
                        <div class="pie" id="y2013"></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-body panel-year">
                        <a href="#">2014</a>
                        <div class="pie" id="y2014"></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-body panel-year">
                        <a href="#">2015</a>
                        <div class="pie" id="y2015"></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-body panel-year">
                        <a href="#">2016</a>
                        <div class="pie" id="y2016"></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-body panel-year">
                        <a href="#">2017</a>
                        <div class="pie" id="y2017"></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-body panel-year">
                        <h3>搜索查看月统计</h3>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>


<a href="#" id="back-to-top" onclick="backToTop();"><i class="fa">↑</i></a>

<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script src="/statis/vendor.js"></script>
<script src="/statis/yearAll.bundle.js"></script>

<script>
    const backToTop = function () {
        $(window).scroll(function () {
            if ($(this).scrollTop() > 100) {
                $('#back-to-top').fadeIn();
            } else {
                $('#back-to-top').fadeOut();
            }
        });
        $('#back-to-top').on('click', function (e) {
            e.preventDefault();
            $('html, body').animate({scrollTop: 0}, 1000);
            return false;
        });
    }
    $(document).ready(backToTop());
</script>
<%- include("./common/footer.ejs") %>
