a {
  display: block;
  overflow: hidden
}

.history {
  li {
    width: 100%;
    padding: 8px 0;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    .title {
      display: inline-block;
      margin: 10px 0 0 10px;
      width: 80%;
      font-size: 16px;
      line-height: 1.5;
    }
    img,
    .img {
      float: right;
      margin-right: 5px;
      width: 90px;
      height: 90px;
      background-size: 100%
    }
  }
}

@media only screen and (max-width: 767px) {
  .history li .title {
    display: inline-block;
    margin: 10px 0 0 10px;
    width: 65%;
    font-size: 13px;
    line-height: 1.5;
  }
}

@keyframes MoreLoadingAnimation {
  0% {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(360deg)
  }
}